{% extends "website/base.html" %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}"/>

{% block content %}
{% if messages %}
<ul class="messages">
{% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}

<div class="signup-form-container">
      <div class="form-header-logo">
          <img src="{% static 'images/logo.jpg' %}" alt="">
      </div>
      <form method="POST" class="signup-form" action="{% url 'accounts:create_staff' %}">
            <div class="form-group mb-4">
                  <h2 class="form-title">Create New Staff</h2>
            </div>
            {% csrf_token %}

            {% for field in form %}
                  <div class="form-group mb-4">
                        <label>{{ field.label }}</label>
                        {{ field }}
                  </div>
            {% endfor %}

            <div class="form-group text-center ">
                  <button id="Save" type="submit" class="btn submit">Save</button>
            </div>

            {% if form.non_field_errors %}
                  {% for error in form.non_field_errors %}
                        <div>
                              <strong>{{ error }}</strong>
                        </div>
                  {% endfor %}
            {% endif %}
      </form>
</div>

{% endblock %}
