{% extends "website/base.html" %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}" />

{% block content %}

<div class="aboutus_page">
     <p><Strong>About Us</Strong></p>
     <p>We are a Bed and Breakfast place located in Karlskrona, Sweden. We started our small business in Autumn 2024.
          We welcome guests from all over the world to come and relax in our cozy rooms and enjoy the view of the Baltic
          Sea.
     </p>

     <p>Feel free to reach our Desk for support: +46 7779815118. We are available Monday to Sunday 9.00 to 12.00 to
          answer
          your queries! Wish you all the best!
     </p>
    
</div>

{% endblock %}