{% extends "website/base.html" %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}"/>

{% block content %}

     <br>
     <br>
     <br>
     <br>
      <body><center><b>We are a Bed and Breakfast place located in Karlskrona, Sweden. We started our small business in Autumn 2024. We welcome guests from all over the world to come and relax in our cozy rooms and enjoy the view of the Baltic Sea.</b></center></body>
      <br>
     <br>
     <br>
     <br>

{% endblock %}
