{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  </head>
<body>

    <h1>Make a Reservation</h1>

    <form action="{% url 'website:make_reservation' %}" method="POST">
        {% csrf_token %}

        <!-- Reservation Section -->
        <fieldset>
            <legend>Reservation Details</legend>

            <!-- Number of Adults -->
            <label for="id_number_of_adults">Number of Adults:</label>
            <input type="number" name="number_of_adults" id="id_number_of_adults" min="0" value="1" required>
            <br><br>

            <!-- Number of Children -->
            <label for="id_number_of_children">Number of Children:</label>
            <input type="number" name="number_of_children" id="id_number_of_children" min="0" value="0" required>
            <br><br>

            <!-- Rooms (Assuming Rooms are chosen by ID) -->
            <label for="id_rooms">Select Rooms:</label>
            <select name="rooms" id="id_rooms" multiple required>
                {% for room in rooms %}
                    <option value="{{ room.id }}">{{ room.name }}</option>
                {% endfor %}
            </select>
            <br><br>

            <!-- Events (Assuming Events are chosen by ID) -->
            <label for="id_events">Select Events:</label>
            <select name="events" id="id_events" multiple required>
                {% for event in events %}
                    <option value="{{ event.id }}">{{ event.name }}</option>
                {% endfor %}
            </select>
            <br><br>

            <!-- Check-in Date -->
            <label for="id_check_in_date">Check-in Date:</label>
            <input type="date" name="check_in_date" id="id_check_in_date" required>
            <br><br>

            <!-- Check-out Date -->
            <label for="id_check_out_date">Check-out Date:</label>
            <input type="date" name="check_out_date" id="id_check_out_date" required>
            <br><br>
        </fieldset>

        <br>

        <!-- Guest Section -->
        <fieldset>
            <legend>Guests</legend>
            <!-- Guest 1 -->
            <div class="row mb-4" id="guest-row">
                <div class="col-auto">
                <label for="guest_name_1" class="col-form-label">Guest Full Name</label>
                </div>
                <div class="col-auto">
                <input
                    type="text" id="guest_name_1" class="form-control" aria-describedby="guestHelpInline" />
                </div>
                <div class="col-auto guest-field d-flex align-items-center">
                <input
                    class="form-check-input" type="checkbox" value="" id="guest_is_adult_1" />
                <label class="ms-1 form-check-label" for="guest_is_adult_1">Is Adult</label>
                </div>
                <div class="col-auto">
                <button type="button" class="btn btn-primary" id="add-guest-button">Add More Guests</button>
                </div>
            </div>

            <!-- Container for dynamic guest fields -->
            <div id="guest-container"></div>
        </fieldset>

        <!-- Add more guests dynamically using JavaScript or include more guest fields here -->

        <br>

        <button type="submit">Submit Reservation</button>

    </form>
    
<script src="{% static 'js/add_guests.js' %}"></script>
</body>
</html>
