{% extends 'website/base.html' %}

{% load static %}
<script src="{% static 'js/reservations.js' %}"></script>

{% block content %}

<div class="signup-form-container">
    <div class="form-header-logo">
        <img src="{% static 'images/logo.jpg' %}" alt="">
    </div>

    <form action="" class="signup-form" method="post" action="{% url 'website:make_reservation' %}">
        {% csrf_token %}
        <div class="form-group mb-4">
            <h2 class="form-title">{{ title }}</h2>
        </div>
        {% csrf_token %}
            <legend>Reservation Details</legend>

        {% for field in form %}
        <div class="form-group mb-4">
            <label>{{ field.label }}</label>
            {{ field }}
        </div>
    {% endfor %}
        {% if field.errors %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
              <strong>{{ error }}</strong>
            </div>
            {% endfor %}
        {% endif %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
              <strong>{{ error }}</strong>
            </div>
            {% endfor %}
        {% endif %}

        <div class="form-group text-center ">
            <button type="submit" class="btn submit">Save Reservation</button>
        </div>
    </form>
</div>
{% endblock %}
