{% extends "website/base.html" %}
{% load static %}
{% block content %}

    <!-- Banner Section -->
    <section class="homepagebanner">
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <img src="{% static 'images/bed_1.jpg' %}" alt="">

                </div>
                <div class="swiper-slide">
                    <img src="{% static 'images/bed_2.jpg' %}" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="{% static 'images/breakfast.jpg' %}" alt="">
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <div class="search-section">
            <div class="container">
                <div class="search-form">
                    <h2>Search By Booking Code</h2>
                    <div class="container">
                        {% if messages %}
                         <ul class="messages">
                          {% for message in messages %}
                          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                          {% endfor %}
                          </ul>
                          {% endif %}
                        <form class="form-inline" method="get" action="{% url 'website:search_result_by_booking_code' %}">
                            {% for field in form %}
                                {{ field }}
                            {% endfor %}
                            <button class="btn btn btn-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </section>



    {% endblock %}
