{% extends "website/base.html" %}

{% load static %}

{% block content %}

<div class="report-container">
    <div class="container my-5">
        <h1 class="page-title text-center mb-4">Reports</h1>
        <div class="row g-4">
            <!-- Large item -->
            <div class="col-md-8">
                <div class="bento-item bento-tall">
                    <h3 class="card-title">Summary</h3>
                    <img class="summary-graph" src="images/sample_pie_chart.png" alt="">
                </div>
            </div>
            <!-- Two small items -->
            <div class="col-md-4">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="bento-item guests-number">
                            <h3 class="card-title">Number of Guests</h3>
                            <p class="data-number">245,000</p>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="bento-item children-number">
                            <h3 class="card-title">Number of Children</h3>
                            <p class="data-number">7,550</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Medium item -->
            <div class="col-md-4">
                <div class="bento-item total-booking">
                    <h3 class="card-title">Total Bookings</h3>
                    <p class="data-number">6,550</p>
                </div>
            </div>
            <!-- Medium item -->
            <div class="col-md-4">
                <div class="bento-item average-guest">
                    <h3 class="card-title">Average Guests</h3>
                    <p class="data-number">3,780</p>
                </div>
            </div>
            <!-- Medium item -->
            <div class="col-md-4">
                <div class="bento-item data-five">
                    <h3 class="card-title">Sample Data</h3>
                    <p class="data-number">4650</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
