{% extends "website/base.html" %}
{% load static %}
<script src="{% static 'js/reservations.js' %}"></script>

{% block content %}

<div class="signup-form-container">
    <div class="form-header-logo">
        <img src="{% static 'images/logo.jpg' %}" alt="">
    </div>
    <form class="signup-form">
        <div class="form-group mb-4">
            <h2 class="form-title">{{ title }}</h2>
        </div>
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group mb-4">
            <label>{{ field.label }}</label>
            {{ field }}
        </div>
        {% if field.errors %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
              <strong>{{ error }}</strong>
            </div>
            {% endfor %}
        {% endif %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
              <strong>{{ error }}</strong>
            </div>
            {% endfor %}
        {% endif %}
        {% endfor %}
        {{ guest_formset.management_form }}

        {% for form in guest_formset %}
        <div>
            <form class="form-inline">
                <label for="Full name"> Full Name</label>{{ form.full_name }} <label for="">Is Adult</label> {{ form.is_adult }}
            <button class="btn btn btn-success my-2 my-sm-0" type="submit">+</button>
            </form>
        </div>
        {% endfor %}
        <div class="form-group text-center ">
            <button type="submit" class="btn submit">Save</button>
        </div>
    </form>

</div>

{% endblock %}
