{% extends "website/base.html" %}
{% load static %}

{% block content %}

<div class="signup-form-container">
    <div class="form-header-logo">
        <img src="{% static 'images/logo.jpg' %}" alt="">
    </div>
  {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}

        {% for key, val in form.errors.items %}
        <p>{{val}}</p>
        {% endfor %}
    <form class="signup-form reservation_form" method="post" action="{% url 'reservations:add_reservation' %}">

        <div class="form-group mb-4">
            <h2 class="form-title">{{ title }}</h2>
        </div>
        {% csrf_token %}
        {% for field in form %}


        {% if field is form.rooms %}
        <strong>Select Your Room(s)</strong>
        <div class="form-group mb-4">
            <label>{{ field.label }}</label>
            {{ field }}
            {{ field.errors }}
        </div>
        <strong>Room Details</strong>
        <table class="tbl-room-checklist">
            <tr class="room_option">
                <td>
                    <span class="ro_title"><b>Room Name</b></span>
                </td>
                <td>
                    <b>Photo</b>
                </td>
                <td>
                    <span class="ro_title"><b>Room Type</b></span>
                </td>
                <td>
                    <span class="room_rate"><b>Price/day</b></span>
                </td>
                <td>
                    <span class="rate_total"><strong>Total Price</strong></span>
                </td>
            </tr>
            {% for room in available_rooms %}
            <tr class="room_option mb-3">
                <td>
                    <span class="ro_title">{{ room.name }}</span>
                </td>
                <td>
                    <img class="room_thumbnail" src="{{ room.photo.url}}" alt="">
                </td>
                <td>
                    <span class="ro_title">{{ room.room_type}}</span>
                </td>
                <td>
                    <span class="room_rate">SEK {{ room.price }}</span>
                </td>
                <td>
                    <span class="rate_total"><strong>SEK {{ room.total_price }}</strong></span>
                </td>
            </tr>
            {% endfor %}
        </table>

        {% elif field is form.events %}
        <strong>Select Your Event(s)</strong>
        <div class="form-group mb-4">
            <label>{{ field.label }}</label>
            {{ field }}
            {{ field.errors }}
        </div>
        {% if upcoming_events %}
        <strong>Event Details</strong>
        <table class="tbl-room-checklist">
            <tr class="room_option">
                <td>
                    <span class="ro_title"><b>Event Name</b></span>
                </td>
                <td>
                    <b>Photo</b>
                </td>
                <td>
                    <span class="ro_title"><b>Venue</b></span>
                </td>
                <td>
                    <span class="room_rate"><b>Price</b></span>
                </td>
                <td>
                    <span class="rate_total"><strong>Age Restrictions</strong></span>
                </td>
            </tr>
            {% for event in upcoming_events %}
            <tr class="room_option mb-3">
                <td>
                    <span class="ro_title">{{ event.name }}</span>
                </td>
                <td>
                    <img class="room_thumbnail" src="{{ event.photo.url }}" alt="">
                </td>
                <td>
                    <span class="ro_title">{{ event.venue }}</span>
                </td>
                <td>
                    <span class="room_rate">SEK {{ event.price }}</span>
                </td>
                <td>
                    <span class="rate_total">{{ event.age_restrictions }}</span>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        {% else %}
        <div class="form-group mb-4">
            <label>{{ field.label }}</label>
            {{ field }}
            {{ field.errors }}
        </div>
        {% endif %}
        {% endfor %}

        <div class="form-group text-center ">
            <button type="submit" class="btn submit">Save</button>
        </div>
    </form>

</div>

{% endblock %}
